node_modules
*.log
.nuxt
nuxt.d.ts
.output
.env
############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################

.env
license.txt
exports
*.cache
build
.strapi-updater.json



strapi4/config/admin.js
strapi4/config/api.js
strapi4/config/database.js
strapi4/config/middlewares.js
strapi4/config/server.js
strapi4/src/admin
strapi4/src/api
strapi4/src/index.js
strapi4/.editorconfig
strapi4/.env.example
strapi4/.eslintignore
strapi4/.eslintrc
strapi4/.gitignore
strapi4/favicon.ico
strapi4/README.md
strapi4/yarn.lock
strapi4/public